.red {
  color: #ef4444;
}
.red-hover {
  color: #992727;
}
.blue {
  color: #52e1f2;
}
.black {
  color: #000000;
}
.medium {
  color: #a6a6a6;
}
.light {
  color: #afafaf;
}
.gray {
  color: #7c7c7c;
}
.beach {
  color: #31cb9e;
}
.orange {
  color: #ffaa00;
}
.white {
  color: #ffffff;
}
.gradient {
  color: linear-gradient(180deg, #0e1e20 0%, #0b0b0b 100%);
}
.coming-soon {
  color: #ffa50066;
}
.free {
  color: #00800066;
}
.free-trial {
  color: #00bfff66;
}
.discount {
  color: #ff000066;
}
.online {
  color: #2d9017;
}
.not-disturb {
  color: #db2438;
}
.in-game {
  color: #0d99ff;
}
.offline {
  color: #7c7c7c;
}
