.red{
    color: #EF4444;
}
.red-hover {
    color: #992727;
}
.blue{
    color: #52E1F2;
}
.black{
    color: #000000;
}
.medium{ 
    color:#A6A6A6;
}
.light{
    color: #AFAFAF;
}
.gray{
    color:#7C7C7C;
}
.beach{
    color: #31CB9E;
}
.white{
    color:#FFFFFF;
}
.gradient{
    color: linear-gradient(180deg, #0E1E20 0%, #0B0B0B 100%);
}
.coming-soon {
    color: #FFA50066;
}
.free{
    color: #00800066;
}
.free-trial{
    color: #00BFFF66;
}
.discount{
    color: #FF000066;
}
.online{
    color: #2D9017;
}
.not-disturb{
    color: #DB2438;
}
.in-game{
    color: #0D99FF;
}
.offline{
    color: #7C7C7C;
}