.alert-container {
  padding: 12px 16px 12px 16px;
  border-radius: 24px;
  gap: 15px;
  border: 2px solid;
  background: #8080804d;
}

.center-align {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.modal-content {
  max-width: 400px;
  border-radius: 16px;
  border: 3px solid #ffffff33;
  background: #8080804d;
  background-blend-mode: luminosity;
  backdrop-filter: blur(10px);
  &:focus-visible {
    outline: none;
  }
}

.d53-modal-content {
  max-width: 600px;
  border-radius: 16px;
  border: 3px solid #ffffff33;
  background: #8080804d;
  background-blend-mode: luminosity;
  backdrop-filter: blur(10px);
  &:focus-visible {
    outline: none;
  }
}

.action-btn {
  border-radius: 16px;
  border: 1px solid #ef4444;
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    background-color: #ef4444;
    transition: background-color 0.3s, transform 0.3s;
  }
  &:active {
    background-color: #ef4444;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 10px #ef444466;
  }
}

.continue-btn {
  border-radius: 16px;
  background: #ef4444;
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    background-color: #992727;
  }
  &.Mui-disabled {
    background-color: #2a2525;
    color: #7c7c7c;
  }
}
.common-btn {
  &.MuiButtonBase-root {
    display: block;
    text-transform: none;
    border-radius: 0;
    color: #52e1f21a;
    min-width: unset;
    box-shadow: none;
    margin: 0;
    &:hover {
      background-color: #ffffff1a;
    }
    &:active {
      background-color: #52e1f21a;
    }
  }
}
.common-btn.active {
  background: #52e1f21a;
}

.tooltip {
  padding: 6px 8px 6px 8px;
  border-radius: 32px;
  border: 1px;
  border-color: #ffffff1a;
  background-color: #8080804d;
}

.tooltip-btn {
  &.MuiButtonBase-root {
    // display: block;
    text-transform: none;
    border-radius: 10px;
    color: #52e1f21a;
    min-width: unset;
    box-shadow: none;
    margin: 0;
    &:hover {
      background-color: #ffffff1a;
    }
    &:active {
      background-color: "#52E1F21A";
    }
  }
}

.br-32 {
  border-radius: 32px;
}

.br-16 {
  border-radius: 16px;
}

.fw {
  width: 100%;
}

.setting-back-button {
  &.MuiButtonBase-root {
    height: 32px;
    width: 32px;
    min-width: 32px;
    border-radius: 16px;
    background-color: transparent;
    &:hover {
      background-color: #ffffff1a;
    }
  }
}
