.p-10{
    padding: 10px;
}
.p-20{
    padding:20px;
}

.p-32-56 {
    padding: 32px 56px;
}

.p-24-16 {
    padding: 24px 16px
}

.p-16-16 {
    padding: 24px 16px
}

.p-t-10{
    padding-top: 10px;
}
.p-r-50{
    padding-right: 50px;
}
.p-lr-50{
    padding-left: 50px;
    padding-right: 50px;
}
.p-tb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-v-auto{
    padding-top: auto;
    padding-bottom: auto;
}

.p-h-auto{
    padding-left: auto;
    padding-right: auto;
}

.p-auto{
    padding: auto
}
.m-10{
    margin:10px;
}
.m-l-50{
    margin-left: 50px;
}
.m-tb-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-lr-50{
    margin-left: 50px;
    margin-right: 50px;
}
.m-tb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-tb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-v-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.m-h-auto{
    margin-left: auto;
    margin-right: auto;
}
.m-auto{
    margin: auto;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-48 {
    margin-top: 48px;
}

.m-b-8 {
    margin-bottom: 8px;
}