.store-game-card {
  width: 278px;
  height: 302px;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 16px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.store-game-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.store-game-card2 {
  width: 278px;
  height: 302px;
  background-color: #1d1724;
  border-radius: 16px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  //   padding: 15px;
  cursor: pointer;
}

.store-game-card2:hover {
  transform: scale(0.98);
  border-radius: 16px;
}
